:root {
  --fail_cat_Data_Integrity_Failures: 2%;
  --fail_cat_Mishandling_of_Exceptional_Conditions: 4%;
  --fail_cat_Session_Management: 6%;
  --fail_cat_Insecure_Design: 11%;
  --fail_cat_Security_Misconfiguration: 18%;
  --fail_cat_Memory_Management_Failures: 32%;
  --fail_cat_XSS: 100.0%;
  --coverage_other: 16%;
  --coverage_cat_Security_Logging___Alerting_Failures: 23%;
  --coverage_cat_Memory_Management_Failures: 35%;
  --coverage_cat_Security_Misconfiguration: 54%;
  --coverage_cat_XSS: 77%;
  --coverage_cat_Authentication: 100.0%;
}
.chart-container-failed-tests {
    background: conic-gradient(yellow 0% var(--fail_cat_Data_Integrity_Failures),
mediumvioletred var(--fail_cat_Data_Integrity_Failures) var(--fail_cat_Mishandling_of_Exceptional_Conditions),
olivedrab var(--fail_cat_Mishandling_of_Exceptional_Conditions) var(--fail_cat_Session_Management),
salmon var(--fail_cat_Session_Management) var(--fail_cat_Insecure_Design),
slateblue var(--fail_cat_Insecure_Design) var(--fail_cat_Security_Misconfiguration),
mediumseagreen var(--fail_cat_Security_Misconfiguration) var(--fail_cat_Memory_Management_Failures),
firebrick var(--fail_cat_Memory_Management_Failures) var(--fail_cat_XSS)

    );
}
.chart-container-total-tests {
    background: conic-gradient(cadetblue 0% var(--coverage_other),
darkorange var(--coverage_other) var(--coverage_cat_Security_Logging___Alerting_Failures),
mediumseagreen var(--coverage_cat_Security_Logging___Alerting_Failures) var(--coverage_cat_Memory_Management_Failures),
slateblue var(--coverage_cat_Memory_Management_Failures) var(--coverage_cat_Security_Misconfiguration),
firebrick var(--coverage_cat_Security_Misconfiguration) var(--coverage_cat_XSS),
indigo var(--coverage_cat_XSS) var(--coverage_cat_Authentication)

    );
}
.category_color_cat_Data_Integrity_Failures { background: yellow; }
.category_color_cat_Mishandling_of_Exceptional_Conditions { background: mediumvioletred; }
.category_color_cat_Session_Management { background: olivedrab; }
.category_color_cat_Insecure_Design { background: salmon; }
.category_color_cat_Security_Misconfiguration { background: slateblue; }
.category_color_cat_Memory_Management_Failures { background: mediumseagreen; }
.category_color_cat_XSS { background: firebrick; }
.category_color_other { background: cadetblue; }
.category_color_cat_Security_Logging___Alerting_Failures { background: darkorange; }
.category_color_cat_Authentication { background: indigo; }