{# Header for Category and Spreadsheet dashboards #}
{%macro dashboard_head() %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/security_dashboard.css">
    <link rel="stylesheet" href="assets/pie_chart.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <script>
        function showDiv(id){
            const divs = document.querySelectorAll("#tabs_div>div");
            divs.forEach(d=>{d.classList.remove("visible")});
            document.getElementById(id).classList.add("visible");
        }
    </script>
{%endmacro%}

{%macro dashboard_header(current_time) %}
    <div class="header">
        <h1>🔒 OpenMRS O3 Security Dashboard</h1>
        <p>Continuous Security Testing with CVSS Vulnerability Scoring</p>
        <p class="timestamp-line">Last Updated: 
        <span class="timestamp">
            {{ current_time }}
        </span>
        </p>
    </div>
{%endmacro%}

{%macro dashboard_footer() %}
    <div class="footer">
        <p>OpenMRS O3 Continuous Security Testing</p>
        <p><a href="https://openmrs.atlassian.net/wiki/spaces/docs/pages/940212225/OpenMRS+Security+Test+Implementation+Guideline">How to contribute to this dashboard</a></p>
        <p>Powered by <a href="https://www.first.org/cvss/v4.0/" target="_blank">CVSS 4.0</a> | 
        <a href="https://github.com/openmrs/openmrs-contrib-cvss-scanning" target="_blank">GitHub Repository</a> | <a href='/detailed-report.html'>PyTest Report</a></p>
    </div>
{%endmacro%}

{%macro test_row(isFailing, test, isSpreadsheet=false) %}
{% if isFailing %}
<tr class="fail-row">
{% else %}
<tr class="pass-row">
{% endif %}

    {% if isSpreadsheet %}
    <td class="row-category">{{ test.category }}</td>
    {% endif %}
    <td class="row-test-name"><strong>{{test.name}}</strong></td>
    
    <td class="row-params">
    {% for param in test.params %}
        <p>{{ param }}</p>
    {% endfor %}
    </td>

    {% if isSpreadsheet == false %}
    <td class="row-description">{{ test.description }}</td>
    {% endif %}

    <td class="row-status"><span class="status-badge {{ test.status_class }}">{{ "PASS" if test.status == "passed" else "FAIL" }}</span></td>
    <td class="row-cvss">
        {% if isFailing %}
        <div class="tooltip">
            <span class="cvss-score-fail">{{ test.cvss_score }}</span>
            <span class="tooltiptext">
                <p><u>Recorded Errors</u></p>
                <p>
                {{ "</p><p>".join(test.errors) }}
                </p>
            </span>
        </div>
        {% else %}
        <span class="cvss-score-pass">{{ test.cvss_score }}</span>
        {% endif %}
    </td>
    <td class="row-severity"><span class="severity-badge {{ test.severity_class }}">{{ test.severity }}</span></td>
    <td class="row-duration">{{ test.duration }}</td>
</tr>
{%endmacro%}

{%macro dashboard_stats(summary_data, pie_chart_data) %}
    <div class = "tabs_buttons">
        <button class="tabs_buttons-left" onclick='showDiv("vulnerability_testing")'><b>Vulnerability Tests</b></button>
        <button class=".tabs_buttons-right" onclick='showDiv("dependency_scanning")'><b>Dependency Scanning</b></button>
    </div>
    <div id="tabs_div">
        <div id ="vulnerability_testing">
            <div class="stats">
                <div class="stat-card">
                    <h3>Total Tests</h3>
                    <p>{{ summary_data.total }}</p>
                </div>
                <div class="stat-card">
                    <h3>Passed</h3>
                    <p class="passed">{{ summary_data.passed }}</p>
                </div>
                <div class="stat-card">
                    <h3>Failed</h3>
                    <p class="failed">{{ summary_data.failed }}</p>
                </div>
                <div class="stat-card">
                    <h3>Duration</h3>
                    <p>{{ summary_data.duration }} min</p>
                </div>
                
            </div>
            <div class="stats">
                <div class="stat-card">
                    <h3>Failed Tests by Category</h3>
                    <div class="chart-wrapper">
                        <div class="chart-container chart-container-failed-tests"></div>
                        <div class="legend">
                            {% for category in pie_chart_data.failed.percents %}
                            <div class="legend-item">
                                <div class="legend-color category_color_{{ category[2] }}"></div>
                                {{ category[0] }}: {{ category[1] }}%
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="stat-card">
                    <h3>Test Coverage</h3>
                    <div class="chart-wrapper">
                        <div class="chart-container chart-container-total-tests"></div>
                        <div class="legend">
                            {% for category in pie_chart_data.coverage.percents %}
                            <div class="legend-item">
                                <div class="legend-color category_color_{{ category[2] }}"></div>
                                {{ category[0] }}: {{ category[1] }}%
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
{%endmacro%}

{%macro dependency_scanning() %}
    <div id="dependency_scanning">
        <iframe src="https://openmrs.github.io/openmrs-contrib-dependency-vulnerability-dashboard/"></iframe>
    </div>
{%endmacro%}

{%macro test_table_head(isSpreadsheet) %}
<thead class="sub-details-head">
    <tr>
        {% if isSpreadsheet == true %}
        <th>
            <div class="th-content">
                <span>Category</span>
                <span class="spreadsheet-chevron">▼</span>
            </div>
        </th>
        {% endif %}
        <th>
            <div class="th-content">
                <span>Test Name</span>
                <span class="spreadsheet-chevron">▼</span>
            </div>
        </th>
        <th>
            <div class="th-content">
                <span>Parameters</span>
                <span class="spreadsheet-chevron">▼</span>
            </div>
        </th>
        {% if isSpreadsheet == false %}
        <th>
            <div class="th-content">
                <span>Description</span>
                <span class="spreadsheet-chevron">▼</span>
            </div>
        </th>
        {% endif %}
        <th>
            <div class="th-content">
                <span>Status</span>
                <span class="spreadsheet-chevron">▼</span>
            </div>
        </th>
        <th>
            <div class="th-content">
                <span>CVSS Score (Baseline)</span>
                <span class="spreadsheet-chevron">▼</span>
            </div>
        </th>
        <th>
            <div class="th-content">
                <span>Severity</span>
                <span class="spreadsheet-chevron">▼</span>
            </div>
        </th>
        <th>
            <div class="th-content">
                <span>Duration</span>
                <span class="spreadsheet-chevron">▼</span>
            </div>
        </th>
    </tr>
</thead>
{%endmacro%}