{# Header for Category and Spreadsheet dashboards #}
{%macro dashboard_head() %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/security_dashboard.css">
    <link rel="stylesheet" href="assets/pie_chart.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <script>
        function showDiv(id){
            const divs = document.querySelectorAll("#tabs_div>div");
            divs.forEach(d=>{d.classList.remove("visible")});
            document.getElementById(id).classList.add("visible");
        }
    </script>
{%endmacro%}

{%macro dashboard_header(current_time) %}
    <div class="header">
        <h1>🔒 OpenMRS O3 Security Dashboard</h1>
        <p>Continuous Security Testing with CVSS Vulnerability Scoring</p>
        <p class="timestamp-line">Last Updated: 
        <span class="timestamp">
            {{ current_time }}
        </span>
        </p>
    </div>
{%endmacro%}

{%macro dashboard_footer() %}
    <div class="footer">
        <p>OpenMRS O3 Continuous Security Testing</p>
        <p><a href="https://openmrs.atlassian.net/wiki/spaces/docs/pages/940212225/OpenMRS+Security+Test+Implementation+Guideline">How to contribute to this dashboard</a></p>
        <p>Powered by <a href="https://www.first.org/cvss/v4.0/" target="_blank">CVSS 4.0</a> | 
        <a href="https://github.com/openmrs/openmrs-contrib-cvss-scanning" target="_blank">GitHub Repository</a> | <a href='/detailed-report.html'>PyTest Report</a></p>
    </div>
{%endmacro%}