{% import '_macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    {{ macros.dashboard_head() }}
    <title>Spreadsheet View - OpenMRS O3 Security Dashboard</title>
</head>
<body>
    {{ macros.dashboard_header(current_time) }}

    <div class="category-bar">
                <a class="return-link" href="/security_dashboard.html">Return to Main Dashboard</a>
                <!-- Sorting Bar -->
                <div class="sorting-bar">
                    Check/Uncheck to filter results: 
                    <input id="fail-checkbox" name="Failed" type="checkbox" checked>
                    <label for="Failed" class="failed-label">Failed</label>

                    <input id="pass-checkbox" name="Passed" type="checkbox" checked>
                    <label for="Passed" class="passed-label">Passed</label>
                </div>
            </div>

    <div class="test-results">
    <table id="spreadsheet-table" class="spreadsheet-table">
        <thead>
            <tr>
                <th>
                    <div class="th-content">
                        <span>Category</span>
                        <span class="spreadsheet-chevron">▼</span>
                    </div>
                </th>
                <th>
                    <div class="th-content">
                        <span>Test Name</span>
                        <span class="spreadsheet-chevron">▼</span>
                    </div>
                </th>
                <th>
                    <div class="th-content">
                        <span>Parameters</span>
                        <span class="spreadsheet-chevron">▼</span>
                    </div>
                </th>
                <th>
                    <div class="th-content">
                        <span>Status</span>
                        <span class="spreadsheet-chevron">▼</span>
                    </div>
                </th>
                <th>
                    <div class="th-content">
                        <span>CVSS Score (Baseline)</span>
                        <span class="spreadsheet-chevron">▼</span>
                    </div>
                </th>
                <th>
                    <div class="th-content">
                        <span>Severity</span>
                        <span class="spreadsheet-chevron">▼</span>
                    </div>
                </th>
                <th>
                    <div class="th-content">
                        <span>Duration</span>
                        <span class="spreadsheet-chevron">▼</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                {% set isFailing = test.status == "failed" %}
                {{ macros.test_row(isFailing, test, isSpreadsheet=true) }}
            {% endfor %}
        </tbody>
    </table>
</div>

    {{ macros.dashboard_footer() }}

    <script src="/assets/security_dashboard_spreadsheet_view.js"></script>
</body>
</html>