{% import '_macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    {{ macros.dashboard_head() }}
    <title>Spreadsheet View - OpenMRS O3 Security Dashboard</title>
</head>
<body>
    {{ macros.dashboard_header(current_time) }}

    <div class="test-results">
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Test Name</th>
                <th>Parameters</th>
                <th>Description</th>
                <th>Status</th>
                <th>CVSS Score (Baseline)</th>
                <th>Severity</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                {% set isFailing = test.status == "failed" %}
                {{ macros.test_row(isFailing, test, isSpreadsheet=true) }}
            {% endfor %}
        </tbody>
    </table>
</div>

    {{ macros.dashboard_footer() }}
</body>
</html>